<li class="row">
    <div class="rank">
        <p class="number">
            #<%=x.rank%>
        </p>
        <p class="plays">Plays <%=x.streams%></p>
    </div>
    <div class="info">
        <h3 class="title"><%=x.title%></h3>
        <p class="artist">by <%=x.artist%></p>
    </div>
    <p class="date">published: <%=x.publicationDate%></p>
</li>
